<section id="contact" class="contact d-flex justify-content-center align-items-center">

  <div class="contact__content">
    <div class="container">
      <form>
        <div class="row">
          <h4>Contact ME</h4>
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Full Name" />
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="email" placeholder="Email Adress" />
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <textarea id="w3review" name="w3review" rows="20" cols="50">
             
              </textarea>
            <div class="input-icon"><i class="fa fa-key"></i></div>
          </div>
        </div>
      </form>
      
    </div>
  </div>

</section>