<section id="about" class="about d-flex justify-content-center align-items-center">

    <div class="about__content">
        <h1>About Me</h1>
        <div class="d-flex flex-row">
            <div class="p-4 content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus obcaecati consequuntur qui neque velit pariatur quia suscipit nobis at dolores commodi labore quibusdam, necessitatibus porro, id non, rerum saepe laudantium?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, expedita aliquam rem dicta sapiente, recusandae obcaecati aspernatur mollitia facilis tempore architecto qui nihil quidem, voluptatem sequi placeat laudantium! Ea, modi!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt laudantium ea omnis et unde labore, quibusdam harum, debitis accusamus saepe necessitatibus minima quaerat voluptates sapiente a ipsum laborum, nisi id!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero asperiores distinctio non incidunt voluptatibus! Amet, magni iure dolores dicta repellendus asperiores reprehenderit vel illo deleniti iste veniam consequuntur, rerum atque.
            </div>
    
        </div>
    </div>

</section>